@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>TIMIPRO</h1>
    <p class="lead">Esta é uma aplicação criada para um teste na empresa TIMIPRO. É Um CRUD capaz de visualizar, cadastrar, editar, excluir dados de um determinado cliente ou produto.</p>
   
</div>
